*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
/* share style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 35px;
    font-weight: bolder;
}

.btn{
    background-color: #FD6E0A;
    border:none;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor:pointer;

}

/* main style */
header{
    background-color:#FFF8F3 ;
    background:url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat:no-repeat;
    background-position: top left,bottom right;
    padding-top:50px;
}
.color-orange{
    color:#FD6E0A;
}
nav{
   width:67.20%;
   max-width: 1140px;
   /* border:1px solid red; */
   margin:0px auto;
   display:flex;
   justify-content:space-between;
}
nav .manu{
    display:flex;
    list-style: none;
    gap:53px;
    align-items: center;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}

#banner{
    /* border:1px solid red; */
    margin:30px 38px  0px 222px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width:585px;

}
#banner .banner-content h2{
    font-size:45px;
    font-weight:600 ;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color:#757575;
    margin-bottom:30px;

}
#banner .banner-image img{
    max-width: 500px;
    vertical-align: middle;
}